<!-- HEADER / NAV -->
  <header class="border-bottom bg-white">
    <nav class="container navbar navbar-expand-lg">
      <a class="navbar-brand fw-bold" href="{% url 'information_pages:landing_page' %}">MatchMyCV</a>
      <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#nav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="nav" class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto">
          <li class="nav-item"><a class="nav-link" href="{% url 'information_pages:about' %}">Tentang Kami</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'information_pages:faq' %}">FAQ</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'cv_analyzer:analisis_cv' %}">Analisis CV</a></li>
        </ul>
        <div class="d-flex gap-2">
          <a class="btn btn-outline-primary" href="{% url 'user_authentication:login' %}">Login</a>
          <a class="btn btn-primary" href="{% url 'user_authentication:register' %}">Register</a>
        </div>
      </div>
    </nav>
  </header>